---
layout: archive
---

<img style="margin-bottom: 20px;" src="assets/images/bouncing_text.gif"/>

<div>
  Hello and welcome to my site!
  Some brief points about me:
  <ul>
    <li>I'm a current <u>MSc candidate at Oxford</u>, recently having completed my coursework with <b>distinction</b>.</li>
    <li>Currently, my research focuses on graph neural networks, generative diffusion models and steganography.</li>
    <li>My other research interests lie with uncertainty in deep learning and quantum computing (see my <a href="/sample-works/">Sample Works</a>).</li>
    <li>I've previously graduated from <u>Duke University</u> and have industry experience working at <u>FAIR Labs</u>, <u>Meta/Facebook Financial</u>, Epic Systems and Grameen Trust.</li>
    <li>For more info, please see my <a href="/introduction/">introductory post</a>.</li>
  </ul>
</div>

<div>
  Aside from tech and academia, I'm extremely passionate about...
  <ul>
    <li>
      ...Cooking! 
      Raised in a culinarily gifted household, I've been fortunate to always have had access to a kitchen since moving out. 
      Check out some of my <a href="/recipes-archive/">signature recipes</a> for a fun, delicious, practical, and, importantly, <em>ad-free</em> experience.
    </li>
    <li>
      ...Music! 
      In particular, curating playlists and analyzing my listening trends. 
      My works are dispersed across space and time, but a couple of my favorites can be found <a href="music-archive">here</a>.
      I highly recommend anyone invested in their music to try out <a href="https://www.last.fm/" target="_blank" rel="nofollow noopener noreferrer me">Last.fm</a>, an app that automatically tracks your listening across all your platforms.
      I also plan on putting my typing hands to use one day and learn the piano.
    </li>
    <!-- <li>...Basketball! </li> -->
  </ul>
</div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
