---
layout: archive
---

<!-- <img src="https://media3.giphy.com/media/lrtPCNjE8Rdoky43VR/giphy.gif?cid=6c09b952p0gcd1zfexdocni8efqm91d9oppsnhyd0m9rc8hl&ep=v1_gifs_search&rid=giphy.gif&ct=g"/> -->
<img style="margin-bottom: 20px;" src="assets/images/bouncing_text.gif"/>

<div>
  Hello and welcome to my site!
  Some brief points about me:
  <ul>
    <li>I'm a current MSc candidate at Oxford, recently completing my coursework with <b>distinction</b>.</li>
    <li>My research interests lie with graph neural networks, generative diffusion models and steganography.</li>
    <li>I've previously graduated from Duke University and have industry experience at Meta/Facebook, Epic Systems and Grameen Trust.</li>
    <li>For more info, please see my <a href="/introduction/">introductory post</a>.</li>
  </ul>

</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
